<?xml version="1.0"?>
<robot name="19E" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find mursim_description)/cars/19E/urdf/vehicle_sensors_links.xacro"/>
    <xacro:property name="sensors" value="${robot_sensors['sensors']}"/>

    <!-- ############################ LIDAR ############################# -->
    <!-- find and mount os1-64 lidar -->
    <xacro:macro name="lidar_pipeline">
        <xacro:lidar_device/>

        <!-- <gazebo>
            <plugin name="lidar_pipeline" filename="libgazebo_cone_sensor.so">
                <yaml_config>$(arg sensors_config_file)</yaml_config>
                <base_link>/mursim/vehicle/base_link</base_link>
                <node_name>${sensors['lidar_pipeline']['node_name']}</node_name>
            </plugin>
        </gazebo> -->

        <xacro:include filename="$(find ouster_description)/urdf/OS1-64.urdf.xacro" />
        <OS1-64 parent="front_center_lidar_link" name="os1_sensor" hz="10" samples="1024">
            <origin xyz="0 0 0.0" rpy="0 0 0" />
        </OS1-64>
    </xacro:macro>

    <!-- ############################ CAMERAS ############################# -->

    <xacro:macro name="camera_pipeline">
        <!-- <gazebo>
            <plugin name="camera_pipeline" filename="libgazebo_cone_sensor.so">
                <yaml_config>$(arg sensors_config_file)</yaml_config>
                <base_link>/mursim/vehicle/base_link</base_link>
                <node_name>${sensors['camera_pipeline']['node_name']}</node_name>
            </plugin>
        </gazebo> -->
    </xacro:macro>

    <xacro:macro name="stereo_pipeline">
        <!-- Stereo Camera -->
        <gazebo reference="left_camera_frame">

            <material>Gazebo/Orange</material>

            <sensor type="multicamera" name="stereo_camera">
                <update_rate>${sensors['stereo_pipeline']['rate']}</update_rate>

                <camera name="left">
                    <horizontal_fov>1.13</horizontal_fov>
                    <image>
                        <width>1920</width>
                        <height>1200</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.02</near>
                        <far>300</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                </camera>

                <camera name="right">
                    <pose>0 -${sensors['stereo_pipeline']['camera_baseline']} 0 0 0 0</pose>
                    <horizontal_fov>1.13</horizontal_fov>
                    <image>
                        <width>1920</width>
                        <height>1200</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.02</near>
                        <far>300</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                </camera>

                <plugin name="stereo_camera_controller" filename="libgazebo_ros_multicamera.so">
                    <alwaysOn>true</alwaysOn>
                    <updateRate>0.0</updateRate>
                    <cameraName>${sensors['stereo_pipeline']['camera_name']}</cameraName>
                    <imageTopicName>${sensors['stereo_pipeline']['image_topic_name']}</imageTopicName>
                    <cameraInfoTopicName>camera_info</cameraInfoTopicName>

                    <frameName>left_camera_optical_frame</frameName>
                    <!--<rightFrameName>right_camera_optical_frame</rightFrameName>-->
                    <hackBaseline>${sensors['stereo_pipeline']['camera_baseline']}</hackBaseline>
                    <distortionK1>0.0</distortionK1>
                    <distortionK2>0.0</distortionK2>
                    <distortionK3>0.0</distortionK3>
                    <distortionT1>0.0</distortionT1>
                    <distortionT2>0.0</distortionT2>
                    <!-- <visualize>true</visualize> -->
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>

    <!-- ############################ GPS ############################# -->

    <xacro:macro name="gps_pipeline">
        <xacro:gps_device/>
        <gazebo>
          <plugin name="gps_sensor" filename="libhector_gazebo_ros_gps.so">
            <alwaysOn>1</alwaysOn>
            <updateRate>10.0</updateRate>
            <bodyName>gps_link</bodyName>
            <robotBaseFrame>base_link</robotBaseFrame>
            <topicName>${robot_sensors['sensors']['gps_pipeline']['topic_name']}</topicName>
            <velocityTopicName>${robot_sensors['sensors']['gps_pipeline']['vel_topic_name']}</velocityTopicName>
            <drift>5.0 5.0 5.0</drift>
            <gaussianNoise>0.1 0.1 0.1</gaussianNoise>
            <velocityDrift>0 0 0</velocityDrift>
            <velocityGaussianNoise>0.1 0.1 0.1</velocityGaussianNoise>
          </plugin>
        </gazebo>
    </xacro:macro>

    <!-- ############################ IMU ############################# -->
    <xacro:macro name="imu_pipeline">
        <xacro:imu_device/>
        <gazebo>
          <plugin name="imu_controller" filename="libhector_gazebo_ros_imu.so">
            <robotNamespace>/</robotNamespace>
            <updateRate>100.0</updateRate>
            <bodyName>imu_link</bodyName>
            <topicName>${robot_sensors['sensors']['imu_pipeline']['topic_name']}</topicName>
            <accelDrift>0.005 0.005 0.005</accelDrift>
            <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
            <rateDrift>0.005 0.005 0.005 </rateDrift>
            <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
            <headingDrift>0.005</headingDrift>
            <headingGaussianNoise>0.005</headingGaussianNoise>
          </plugin>
        </gazebo>
    </xacro:macro>

    <!-- ####################### GROUND TRUTH #########################-->
    <xacro:macro name="p3d_ground_truth">
        <gazebo>
          <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">
            <frameName>map</frameName>
            <bodyName>base_link</bodyName>
            <topicName>odom</topicName>
            <updateRate>30.0</updateRate>
          </plugin>
        </gazebo>
    </xacro:macro>

</robot>
