<?xml version="1.0"?>
<robot name="19E" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="dimensions" value="${load_yaml('$(find mursim_description)/cars/19E/config/dimensions.yaml')}"/>
  <xacro:property name="car_settings" value="${load_yaml('$(find mursim_description)/cars/19E/config/car.yaml')}"/>
  <xacro:property name="robot_sensors" value="${load_yaml('$(find mursim_description)/cars/19E/config/sensors.yaml')}"/>

  <!-- Vehicle Specific Includes -->
  <xacro:include filename="$(find mursim_description)/cars/19E/urdf/vehicle_chassis.xacro"/>
  <xacro:include filename="$(find mursim_description)/cars/19E/urdf/vehicle_properties.xacro"/>
  <xacro:include filename="$(find mursim_description)/cars/19E/urdf/vehicle_friction.gazebo"/>
  <xacro:include filename="$(find mursim_description)/cars/19E/urdf/vehicle_materials.xacro"/>
  <xacro:include filename="$(find mursim_description)/cars/19E/urdf/vehicle_plugins.xacro"/>
  <xacro:include filename="$(find mursim_description)/cars/19E/urdf/vehicle_sensors.xacro"/>

  <!-- ############################# Chassis ############################ -->
  <xacro:body_chassis/>

  <!-- #### Add the left rear wheel with its joints and tranmissions #### -->
  <xacro:body_left_rear_wheel/>

  <!-- #### Add the right rear wheel with its joints and tranmissions #### -->
  <xacro:body_right_rear_wheel/>

  <!-- #### Add the left front wheel with its joints, steering and tranmissions  #### -->
  <xacro:body_left_front_wheel/>

  <!-- #### Add the right front wheel with its joints, steering and tranmissions #### -->
  <xacro:body_right_front_wheel/>

  <!-- ################################### Sensors ################################## -->

  <xacro:if value="${robot_sensors['sensors']['lidar_pipeline']['enabled']}">
    <xacro:lidar_pipeline/>

  <xacro:if value="${robot_sensors['sensors']['stereo_pipeline']['enabled']}">
    <!-- define joint and link for camera -->
    <xacro:camera_device/>
    <!-- mount stereo camera -->
    <xacro:stereo_pipeline/>
  </xacro:if>

  <!-- ################################### GPS ################################## -->

  <xacro:if value="${robot_sensors['sensors']['gps_pipeline']['enabled']}">
      <xacro:gps_pipeline/>
  </xacro:if>

  <!-- ################################### IMU ################################## -->

  <xacro:if value="${robot_sensors['sensors']['imu_pipeline']['enabled']}">
      <xacro:imu_pipeline/>
  </xacro:if>

  <!-- ################################### P3D ################################## -->

  <xacro:if value="${robot_sensors['ground_truth']['enabled']}">
      <xacro:p3d_ground_truth/>
  </xacro:if>

</robot>
