<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="gotthard"/>

    <rosparam file="$(find mursim_gazebo_plugins)/controller/config/vehicle_control.yaml" command="load" ns="/$(arg robot_name)"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
	<remap from="/joint_states" to="/gotthard/joint_states"/>
	<param name="rate" value="50"/>
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	<remap from="/joint_states" to="/gotthard/joint_states"/>
	<param name="rate" value="50"/>
    </node>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="$(arg robot_name)/steer_drive_controller" 
	args="joint_state_controller 
		  steering_position_controller
		  wheel_drive_controller"/>
</launch>
