<?xml version="1.0"?>

<model>
    <name>Uneven Terrain</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Steven Lee</name>
        <email>stevenlee090@hotmail.com</email>
    </author>

    <description>
        Uneven terrain for testing.
    </description>
</model>