<?xml version="1.0"?>
<launch>
	<!--################# Args ###################-->

  <!-- 
       For use on CLI e.g. "roslaunch mursim_gazebo perception:=false"
  -->
  
	<arg name="node_start_delay" default="1.0"/>
	<arg name="gui" default="false"/>
	<arg name="map" default="eufs_track"/>
	<arg name="perception" default="true"/>
	<arg name="control" default="true"/>
	<arg name="actuation" default="true"/>
	<arg name="rviz" default="true"/>
	<arg name="rviz_file" default="$(find mursim_common)/rviz/rviz_config.rviz"/>
	<arg name='robot_name' default="19E"/>

	<!--################# World and Car ###################-->

  <include file="$(find mursim_gazebo)/launch/eufs_track.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="map" value="$(arg map)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

	<!--################# Perception Pipeline ###################-->

  <!-- 
       Launches:
        - Lidar
        - SLAM
  -->

	<group if="$(arg perception)">
		<include file="$(find lidar_dev)/launch/cluster_pipeline.launch"/>
		<include file="$(find slam)/launch/slam.launch"/>
	</group>

	<!--################# Control Pipeline ###################-->

  <!-- 
       Launches:
        - Path Planner (slow lap)
        - Path Follower (slow lap)
  -->

	<group if="$(arg control)">
    <!-- <include file="$(find dummy_transition_fastlap)/launch/dummy_transition_fastlap.launch"/> -->
    <include file="$(find planner_exploratory)/launch/planner.launch"/>
		<include file="$(find path_follower_ros)/launch/follower.launch"/>
    <include file="$(find mursim_gazebo_plugins)/controller/launch/vehicle_control.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>
    <include file="$(find mpcc)/launch/mpcc.launch"/>
	</group>

	<!--################# Actuation Pipeline ###################-->

  <!-- 
       Launches:
        - Actuator (for use in MURSim-gazebo only)
  -->

	<group if="$(arg actuation)">
		<include file="$(find mursim_actuator)/launch/actuator.launch"/>
	</group>

	<!--################# RVIZ ###################-->

  <!-- 
       Launches:
        - RVIZ (for alternate rviz file, see Args section)
  -->

	<group if="$(arg rviz)">
		<node type="rviz" name="rviz" pkg="rviz" args="-d $(arg rviz_file)"/>
	</group>

</launch>
