<?xml version="1.0"?>
<launch>
	<arg name="node_start_delay" default="1.0"/>

	<!--################# Perception Pipeline ###################-->
	<include file="$(find mursim_gazebo)/launch/spawn_world.launch">
		<arg name="map"     value="uneven_track"/>
		<arg name="verbose"	value="true"/>

        <!-- <arg name="map"     value="large_track"/>
        <arg name="x_spawn" value="16"/>
        <arg name="y_spawn" value="32.25"/> -->
    </include>

	<include file="$(find lidar_dev)/launch/cluster_pipeline.launch"/>
	<!-- <include file="$(find slam)/launch/slam.launch"/> -->

	<!--################# Control Pipeline ###################-->
	<!-- <include file="$(find planner_exploratory)/launch/planner.launch"/>  -->
	<!-- <include file="$(find path_follower_ros)/launch/follower.launch"/> -->

	<!--################# Actuation Pipeline ###################-->
	<!-- <include file="$(find mursim_actuator)/launch/actuator.launch"/>	 -->

	<!--################# RVIZ ###################-->
	<!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find mursim_gazebo_plugins)/rviz/rviz_config.rviz"/> -->


</launch>