<?xml version="1.0"?>
<launch>
	<arg name="node_start_delay" default="1.0"/>
	<arg name="gui" default="false"/>
	<arg name="map" default="eufs_track"/>
	<arg name="perception" default="true"/>
	<arg name="control" default="true"/>
	<arg name="x_spawn" default="16"/>
	<arg name="y_spawn" default="32.25"/>
	<arg name="rviz" default="true"/>
	<arg name="rviz_file" default="$(find mursim_gazebo_plugins)/rviz/rviz_config.rviz"/>

	<!--################# World ###################-->
	<include file="$(find mursim_gazebo)/launch/spawn_world.launch">
		<arg name="map" value="$(arg map)"/>
		<arg name="gui" value="$(arg gui)"/>
    </include>
	<!--################# Perception Pipeline ###################-->
	<group if="$(arg perception)">
		<include file="$(find lidar_dev)/launch/cluster_pipeline.launch"/>
		<include file="$(find slam)/launch/slam.launch"/>
	</group>

	<!--################# Control Pipeline ###################-->
	<group if="$(arg control)">
		<include file="$(find planner_exploratory)/launch/planner.launch"/>
		<include file="$(find path_follower_ros)/launch/follower.launch"/>
	</group>

	<!--################# Actuation Pipeline ###################-->
	<include file="$(find mursim_actuator)/launch/actuator.launch"/>

	<!--################# RVIZ ###################-->
	<group if="$(arg rviz)">
		<node type="rviz" name="rviz" pkg="rviz" args="-d $(arg rviz_file)"/>
	</group>


</launch>