<?xml version="1.0"?>
<launch>
    <env name="GAZEBO_MODEL_PATH" value="$(find mursim_description)/models"/>

    <arg name="robot_name" default="19E"/>
    <arg name="map" default="eufs_track"/>
    <arg name="gui" default="false"/>

    <arg name="verbose" default="false"/>

    <!-- World -->
    <include file="$(find mursim_gazebo)/launch/empty_world.launch">
        <arg name="world_name" value="$(find mursim_gazebo)/worlds/$(arg map).world"/>
        <arg name="gui" default="$(arg gui)"/>
        <arg name="verbose" value="$(arg verbose)"/>
    </include>

    <!-- Controller Plugin -->
    <include file="$(find mursim_gazebo_plugins)/controller/launch/vehicle_control.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

</launch>

